# Data Understanding

Auto Scout data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models.

###### Understanding How to Value Your Used Car

Here is the information you will need to provide to get your car’s estimated value:
* Make, model, and year: First, you’ll need to disclose the car’s make, model, and year. 
* Features: Certain features and equipment can make or break the value of your vehicle.
    * 19-Inch Wheels
    * Sport Package
    * Navigation System
* Mileage: If you’ve ever shopped for used cars before, you know mileage has a big impact on resale value. 
* Condition: The condition of your vehicle is another good indicator of its value.
    * Clean 
    * Average 
    * Rough 
* Trim

# Data Cleaning

### I. Import Data & Libraries

###### Import Libraries

In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# More Data Preprocessing & Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MultiLabelBinarizer, OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer

# Data Viz
import seaborn as sns
import matplotlib.pyplot as plt

###### Importing Data

In [2]:
df = pd.read_json('data/scout_car.json', lines=True)

In [3]:
pd.options.display.max_rows = df.shape[1]
df.head(2).T

,0,1
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...
make_model,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport
body_type,Sedans,Sedans
price,15770,14500
vat,VAT deductible,Price negotiable
km,"56,013 km","80,000 km"
registration,01/2016,03/2017
prev_owner,2 previous owners,None
kW,NaN,NaN
hp,66 kW,141 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]"
Previous Owners,\n2\n,NaN
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN
Warranty,"[\n, \n, \n4 (Green)\n]",NaN
Full Service,"[\n, \n]",NaN
Non-smoking Vehicle,"[\n, \n]",NaN
null,[],[]
Make,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\nLR-062483\n],NaN
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]"
Paint Type,[\nMetallic\n],NaN
Body Color Original,[\nMythosschwarz\n],NaN
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n]
Nr. of Seats,[\n5\n],[\n4\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n]
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]"
Cylinders,[\n3\n],[\n4\n]
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]"
Drive chain,[\nfront\n],[\nfront\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com..."
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ..."
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...
Emission Label,NaN,[\n4 (Green)\n]
Gears,NaN,[\n7\n]
Country version,NaN,NaN
Electricity consumption,NaN,NaN
Last Service Date,NaN,NaN
Other Fuel Types,NaN,NaN
Availability,NaN,NaN
Last Timing Belt Service Date,NaN,NaN
Available from,NaN,NaN

In [4]:
print(df.columns.tolist())

['url', 'make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model', 'Offer Number', 'First Registration', 'Body Color', 'Paint Type', 'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'Electricity consumption', 'Last Service Date', 'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date', 'Available from']

In [5]:
## Dropping columns that we're not going to use for this notebook.

drop = ['url','prev_owner', 'kW', 'Previous Owners', 'Next Inspection',
       'Inspection new', 'Full Service', 'Non-smoking Vehicle', 'Model Code',
       'Weight', 'Drive chain', 'Emission Label', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from', 'Offer Number']

In [6]:
## drop the columns above from df
df = df.drop(drop, axis=1)

### II. Exploratory Data Analysis

##### A. Duplicate Value Check

We don't need/want any rows that are purely identical to one another.

In [7]:
# Before shape
df.shape

(15919, 34)

*drop_duplicates won't work with lists in your dataframe. However, you can drop duplicates on the dataframe cast as string and then extract the rows from original df using the index from the results.*

In [8]:
## drop any duplicate rows
df = df.loc[df.astype(str).drop_duplicates().index]

In [9]:
# After shape
df.shape

(14820, 34)

##### B. Separate Data Types

Generally, there are 5-6 types of data you will run into.

* Numerical
* Categorical
* Date/Time
* Text
* Image
* Sound

**Let's start with separating our data apart into Numerical and Categorical.**

In [10]:
## create a dataframe of only categorical variables
cat_df = df.select_dtypes(['object', 'bool'])

## create a dataframe of only numerical variables
num_df = df.select_dtypes(['int', 'float','int64'])

So now we need to account for all of the following possible data types...

* Numerical (1.3, -2.345, 6,423.1)
* Categorical
    * Binary (True/False, 0/1, Heads/Tails)
    * Ordinal (Low, Medium, High)
    * Nominal (Red, Blue, Purple)
* Date/Time

**Skim through the Numerical data**

In [11]:
# Glancing at the numerical data. Missing values will be dealt with later
num_df.head().T

           0      1      2      3      4
price  15770  14500  14640  14500  16790

Numerical features don't look good.

**Skim through the Catgorical Data**

Most (if not, all) problems will come from this subset.

In [12]:
# Skim the output to look for things to fix
cat_df.head().T

,0,1,2,3,4
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
vat,VAT deductible,Price negotiable,VAT deductible,None,None
km,"56,013 km","80,000 km","83,450 km","73,000 km","16,200 km"
registration,01/2016,03/2017,02/2016,08/2016,05/2016
hp,66 kW,141 kW,85 kW,66 kW,66 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]"
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]"
null,[],[],[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]","[\n, Brown, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n],NaN,[\nMythosschwarz Metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]",NaN,"[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n],[\n3\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n],[\n4\n],[\n5\n]
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,422 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN,[\n3\n],[\n3\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n109 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M..."
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension..."
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
Gears,NaN,[\n7\n],NaN,[\n6\n],NaN

* Numerical data stored as Categorial (strings)
    * Convert some of these to numerical columns
* Binary data needs to be binarized into 1's and 0's
    * We can Binarize the Binary/Boolean columns
* Ordinal (should generally be encoded to retain their information (e.g. {1,2,3} to encode {low, med, high})
* Nominal data to be unpacked, then later one hot encoded
* Date/Time features need to be engineered

### C. Initial Data Cleaning (for exploration)

**Convert Numerical Features to Numerical Data Types (if they were typed as objects instead of numbers)**

In [13]:
# Getting all the features that should be numerical, but are typed as objects (strings)
cat_to_num = ['km', 'hp', 'Nr. of Doors', 'Nr. of Seats', 'Displacement', 'Cylinders','Consumption','CO2 Emission','Gears']

# Keeping changes in a temporary copied DataFrame
# Setting deep=True creates a "deepcopy", which guarantees that you're creating a new object
    # Sometimes when you copy an object into a new variable, this new variable just points back to the copied object
    # This can have unintended consequences - if you edit one variable, you also might edit the other
cat_to_num_df = cat_df[cat_to_num].copy(deep=True)

In [14]:
# Let's take a look at the data in cat_to_num_df using head()
cat_to_num_df.head(2)

,km,hp,Nr. of Doors,Nr. of Seats,Displacement,Cylinders,Consumption,CO2 Emission,Gears
0,"56,013 km",66 kW,[\n5\n],[\n5\n],"[\n1,422 cc\n]",[\n3\n],"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],NaN
1,"80,000 km",141 kW,[\n3\n],[\n4\n],"[\n1,798 cc\n]",[\n4\n],"[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\n7\n]

**For km, we remove ',' sign and 'km', then convert to float.**

In [15]:
# str.replace(), str.split() & astype() will be useful

cat_to_num_df['km'] = cat_to_num_df['km'].str.replace(',','')

pattern = "(\d{0,3},\d{3})"

cat_to_num_df["km"] = cat_to_num_df["km"].str.split(pattern).str[0]

In [16]:
pattern = "(\D)"

cat_to_num_df['km'] = cat_to_num_df.km.str.split(pattern).str[0]

In [17]:
cat_to_num_df.km[cat_to_num_df['km'] == ''] = cat_to_num_df.km[cat_to_num_df['km'] == ''].str.replace('',"0")

In [18]:
cat_to_num_df['km'] = cat_to_num_df['km'].astype(float)

In [19]:
cat_to_num_df.head(2)

,km,hp,Nr. of Doors,Nr. of Seats,Displacement,Cylinders,Consumption,CO2 Emission,Gears
0,56013.0,66 kW,[\n5\n],[\n5\n],"[\n1,422 cc\n]",[\n3\n],"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],NaN
1,80000.0,141 kW,[\n3\n],[\n4\n],"[\n1,798 cc\n]",[\n4\n],"[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\n7\n]

**For hp, we remove 'kW', then convert to float.**

In [20]:
pattern = "(\d{0,4})"

cat_to_num_df["hp"] = cat_to_num_df["hp"].str.split(pattern).str[1]

In [21]:
cat_to_num_df.hp[cat_to_num_df['hp'] == ''] = cat_to_num_df.hp[cat_to_num_df['hp'] == ''].str.replace('',"0")

<ipython-input-21-a9b6bb0a0478>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_to_num_df.hp[cat_to_num_df['hp'] == ''] = cat_to_num_df.hp[cat_to_num_df['hp'] == ''].str.replace('',"0")

In [22]:
cat_to_num_df["hp"] = cat_to_num_df["hp"].astype(float)

In [23]:
cat_to_num_df.head(2)

,km,hp,Nr. of Doors,Nr. of Seats,Displacement,Cylinders,Consumption,CO2 Emission,Gears
0,56013.0,66.0,[\n5\n],[\n5\n],"[\n1,422 cc\n]",[\n3\n],"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],NaN
1,80000.0,141.0,[\n3\n],[\n4\n],"[\n1,798 cc\n]",[\n4\n],"[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\n7\n]

**For Nr. of Doors, we remove '\n', then convert to float.**

In [24]:
pattern = "(\d)"

cat_to_num_df["number_of_doors"] = cat_to_num_df["Nr. of Doors"].str[0].str.split(pattern).str[1]

In [25]:
cat_to_num_df["number_of_doors"] = cat_to_num_df["number_of_doors"].astype(float)

In [26]:
cat_to_num_df = cat_to_num_df.drop("Nr. of Doors", axis=1)

In [27]:
cat_to_num_df.head(2)

,km,hp,Nr. of Seats,Displacement,Cylinders,Consumption,CO2 Emission,Gears,number_of_doors
0,56013.0,66.0,[\n5\n],"[\n1,422 cc\n]",[\n3\n],"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],NaN,5.0
1,80000.0,141.0,[\n4\n],"[\n1,798 cc\n]",[\n4\n],"[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\n7\n],3.0

**For Nr. of Seats, we remove '\n', then convert to float.**

In [28]:
pattern = "(\d)"

cat_to_num_df["nunber_of_seats"] = cat_to_num_df["Nr. of Seats"].str[0].str.split(pattern).str[1]

In [29]:
cat_to_num_df["nunber_of_seats"] = cat_to_num_df["nunber_of_seats"].astype(float)

In [30]:
cat_to_num_df = cat_to_num_df.drop("Nr. of Seats", axis=1)

In [31]:
cat_to_num_df.head(2)

,km,hp,Displacement,Cylinders,Consumption,CO2 Emission,Gears,number_of_doors,nunber_of_seats
0,56013.0,66.0,"[\n1,422 cc\n]",[\n3\n],"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],NaN,5.0,5.0
1,80000.0,141.0,"[\n1,798 cc\n]",[\n4\n],"[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\n7\n],3.0,4.0

**For Displacement, we remove '\n', ',' and 'cc', then convert to float.**

In [32]:
cat_to_num_df['Displacement'] = cat_to_num_df['Displacement'].str[0].str.replace(',','')

In [33]:
pattern = "(\d{4})"

cat_to_num_df["Displacement"] = cat_to_num_df["Displacement"].str.split(pattern).str[1]

In [34]:
cat_to_num_df["displacement"] = cat_to_num_df["Displacement"].astype(float)

In [35]:
cat_to_num_df = cat_to_num_df.drop("Displacement", axis=1)

In [36]:
cat_to_num_df.head(2)

,km,hp,Cylinders,Consumption,CO2 Emission,Gears,number_of_doors,nunber_of_seats,displacement
0,56013.0,66.0,[\n3\n],"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],NaN,5.0,5.0,1422.0
1,80000.0,141.0,[\n4\n],"[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\n7\n],3.0,4.0,1798.0

**For Cylinders, we remove '\n', then convert to float.**

In [37]:
pattern = "(\d)"

cat_to_num_df["Cylinders"] = cat_to_num_df["Cylinders"].str[0].str.split(pattern).str[1]

In [38]:
cat_to_num_df["cylinders"] = cat_to_num_df["Cylinders"].astype(float)

In [39]:
cat_to_num_df = cat_to_num_df.drop("Cylinders", axis=1)

In [40]:
cat_to_num_df.head(2)

,km,hp,Consumption,CO2 Emission,Gears,number_of_doors,nunber_of_seats,displacement,cylinders
0,56013.0,66.0,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],NaN,5.0,5.0,1422.0,3.0
1,80000.0,141.0,"[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\n7\n],3.0,4.0,1798.0,4.0

**For consumption, there are three different values, we need to dump each one into a new column, then convert it to float.**

In [41]:
pattern = "(\d.\d)"

cat_to_num_df["consumption_comb"] = cat_to_num_df["Consumption"].str[0].str[0].str.extract(pattern).astype(float)
cat_to_num_df["consumption_city"] = cat_to_num_df["Consumption"].str[1].str[0].str.extract(pattern).astype(float)
cat_to_num_df["consumption_country"] = cat_to_num_df["Consumption"].str[2].str[0].str.extract(pattern).astype(float)

In [42]:
cat_to_num_df = cat_to_num_df.drop('Consumption', axis=1)

In [43]:
cat_to_num_df.head(2)

,km,hp,CO2 Emission,Gears,number_of_doors,nunber_of_seats,displacement,cylinders,consumption_comb,consumption_city,consumption_country
0,56013.0,66.0,[\n99 g CO2/km (comb)\n],NaN,5.0,5.0,1422.0,3.0,3.8,4.3,3.5
1,80000.0,141.0,[\n129 g CO2/km (comb)\n],[\n7\n],3.0,4.0,1798.0,4.0,5.6,7.1,4.7

**For CO2 Emission, we will take the scalar value, then convert it to float.**

In [44]:
pattern = "(\d{0,4})"

cat_to_num_df["co2_emission"] = cat_to_num_df["CO2 Emission"].str[0].str.split(pattern).str[3].astype(float)

In [45]:
cat_to_num_df = cat_to_num_df.drop('CO2 Emission', axis=1)

In [46]:
cat_to_num_df.head(2)

,km,hp,Gears,number_of_doors,nunber_of_seats,displacement,cylinders,consumption_comb,consumption_city,consumption_country,co2_emission
0,56013.0,66.0,NaN,5.0,5.0,1422.0,3.0,3.8,4.3,3.5,99.0
1,80000.0,141.0,[\n7\n],3.0,4.0,1798.0,4.0,5.6,7.1,4.7,129.0

**For Gears, we will take the scalar value, then convert it to float.**

In [47]:
pattern = "(\d{0,4})"

cat_to_num_df["gears"] = cat_to_num_df["Gears"].str[0].str.split(pattern).str[3].astype(float)

In [48]:
cat_to_num_df = cat_to_num_df.drop('Gears', axis=1)

In [49]:
cat_to_num_df.head(2)

,km,hp,number_of_doors,nunber_of_seats,displacement,cylinders,consumption_comb,consumption_city,consumption_country,co2_emission,gears
0,56013.0,66.0,5.0,5.0,1422.0,3.0,3.8,4.3,3.5,99.0,NaN
1,80000.0,141.0,3.0,4.0,1798.0,4.0,5.6,7.1,4.7,129.0,7.0

In [50]:
## Append the new cat_to_num_df data to the num_df DataFrame using pd.concat and axis=1
num_df = pd.concat([num_df, cat_to_num_df], axis=1)

In [51]:
## Drop the old columns from the cat_df DataFrame using the appropriate axis
cat_df = cat_df.drop(cat_to_num, axis=1)

In [52]:
cat_df.columns

Index(['make_model', 'short_description', 'body_type', 'vat', 'registration',
       'Type', 'Warranty', 'null', 'Make', 'Model', 'First Registration',
       'Body Color', 'Paint Type', 'Body Color Original', 'Upholstery', 'Body',
       'Gearing Type', 'Fuel', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description'],
      dtype='object')

**Arrangement of texts in categorical columns**

**'make_model','Make', 'Model'**

In [53]:
cat_df[['make_model','Make', 'Model']].head(2)

  make_model      Make         Model
0    Audi A1  \nAudi\n  [\n, A1, \n]
1    Audi A1  \nAudi\n  [\n, A1, \n]

We can split the "make_model" column into two new columns by spacing. We can remove the "make" and "model" columns from the data.

In [54]:
pattern = "(\s)"

cat_df["make"] = cat_df["make_model"].str.split(pattern).str[0]
cat_df["model"] = cat_df["make_model"].str.split(pattern).str[2]

cat_df = cat_df.drop(['make_model','Make','Model'], axis=1)

In [55]:
cat_df[['make', 'model']].head(2)

   make model
0  Audi    A1
1  Audi    A1

In [56]:
cat_df["make"].isnull().value_counts(dropna = False)

False    14820
Name: make, dtype: int64

In [57]:
cat_df["model"].isnull().value_counts(dropna = False)

False    14820
Name: model, dtype: int64

**'short_description' and 'description'**

In [58]:
cat_df['short_description'].value_counts()

SPB 1.6 TDI 116 CV S tronic Sport                    64
1.4 66kW (90CV) Selective                            38
SPB 30 TFSI S tronic Admired                         34
SPB 30 TDI S tronic Business                         34
Sporter 1.5 dCi 90CV Zen , NAVI - AZIENDALE          32
                                                     ..
1.0 TFSi 115 Sportback + Xenon + Adaptiv Cruise +     1
SPB 1.6 TDI 116 CV S tronic Sport | 20.000Km|2018     1
"GS 2 0 CDTi Turbo D Auto Excellence"                 1
1,6 CDTI SportsTouNAVI,AppleCarplay,EU6               1
SPORTS TOURER 1.6 CDTI 110CV INNOVATION               1
Name: short_description, Length: 10001, dtype: int64

In [59]:
cat_df['description']

0        [\n, Sicherheit:,  , Deaktivierung für Beifahr...
1        [\nLangstreckenfahrzeug daher die hohe Kilomet...
2        [\n, Fahrzeug-Nummer: AM-95365,  , Ehem. UPE 2...
3        [\nAudi A1: , - 1e eigenaar , - Perfecte staat...
4        [\n, Technik & Sicherheit:, Xenon plus, Klimaa...
                               ...
15914    [\nVettura visionabile nella sede in Via Roma ...
15915    [\nDach: Panorama-Glas-Schiebedach, Lackierung...
15916    [\n, Getriebe:,  Automatik, Technik:,  Bordcom...
15917    [\nDEK:[2691331], Renault Espace Blue dCi 200C...
15918    [\n, Sicherheit Airbags:,  , Seitenairbag,  , ...
Name: description, Length: 14820, dtype: object

The "short_description" and 'description' column contains highly complex data. I don't think it will do us any good.

In [60]:
cat_df = cat_df.drop(['short_description','description'], axis=1)

**'body_type'**

In [61]:
cat_df['body_type'].value_counts(dropna = False)

Sedans           7384
Station wagon    3397
Compact          2798
Van               729
Other             286
Transporter        88
Off-Road           56
NaN                49
Coupe              25
Convertible         8
Name: body_type, dtype: int64

**'vat'**

In [62]:
cat_df['vat'].value_counts(dropna = False)

VAT deductible      10341
NaN                  4053
Price negotiable      426
Name: vat, dtype: int64

**'First Registration'**

In [63]:
cat_df['First Registration'].head(2)

0    [\n, 2016, \n]
1    [\n, 2017, \n]
Name: First Registration, dtype: object

In [64]:
cat_df['first_registration'] = cat_df['First Registration'].str[1]

In [65]:
cat_df = cat_df.drop(['First Registration'], axis=1)

**'registration'**

In [66]:
cat_df['registration'].value_counts(dropna = False).head()

-/-        1442
03/2018     686
05/2018     552
02/2019     539
04/2018     534
Name: registration, dtype: int64

In [67]:
cat_df.registration[cat_df['registration']=='-/-'] = cat_df.registration[cat_df['registration']=='-/-'].str[3]

In [68]:
cat_df['registration'].value_counts(dropna = False).head()

NaN        1442
03/2018     686
05/2018     552
02/2019     539
04/2018     534
Name: registration, dtype: int64

**'Body Color'**

In [69]:
cat_df['Body Color'].head(2)

0    [\n, Black, \n]
1      [\n, Red, \n]
Name: Body Color, dtype: object

In [70]:
cat_df['body_color'] = cat_df['Body Color'].str[1]

In [71]:
cat_df['body_color'].value_counts(dropna = False)

Black     3536
Grey      3301
White     3088
Silver    1568
Blue      1346
Red        860
NaN        531
Brown      266
Green      146
Beige       98
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64

In [72]:
cat_df = cat_df.drop(['Body Color'], axis=1)

**'Paint Type'**

In [73]:
cat_df['Paint Type'].str[0].head()

0    \nMetallic\n
1             NaN
2    \nMetallic\n
3    \nMetallic\n
4    \nMetallic\n
Name: Paint Type, dtype: object

In [74]:
pattern = "(\s)"

cat_df["paint_type"] = cat_df["Paint Type"].str[0].str.split(pattern).str[2]

In [75]:
cat_df["paint_type"].value_counts(dropna = False)

Metallic     9168
NaN          5315
Uni/basic     331
Perl            6
Name: paint_type, dtype: int64

In [76]:
cat_df = cat_df.drop(['Paint Type'], axis=1)

**'Body Color Original'**

In [77]:
cat_df['Body Color Original'].str[0].head()

0             \nMythosschwarz\n
1                           NaN
2    \nmythosschwarz metallic\n
3                           NaN
4    \nMythosschwarz Metallic\n
Name: Body Color Original, dtype: object

pattern = "(\s)"

cat_df['body_color_original'] = cat_df['Body Color Original'].str[0].str.split(pattern).str[2]

cat_df['body_color_original'].value_counts(dropna = False)

In [78]:
cat_df = cat_df.drop(['Body Color Original'], axis=1)

**'Upholstery'**

In [79]:
cat_df['Upholstery'].str[0].head()

0    \nCloth, Black\n
1     \nCloth, Grey\n
2    \nCloth, Black\n
3                 NaN
4    \nCloth, Black\n
Name: Upholstery, dtype: object

In [80]:
pattern = "(\s)"

cat_df['upholstery'] = cat_df['Upholstery'].str[0].str.replace('\n','')

In [81]:
cat_df['upholstery'].value_counts(dropna = False).head()

Cloth, Black           5559
NaN                    3508
Part leather, Black    1036
Cloth                   958
Cloth, Grey             796
Name: upholstery, dtype: int64

In [82]:
cat_df = cat_df.drop(['Upholstery'], axis=1)

**'Body'**

In [83]:
cat_df['Body'].head()

0    [\n, Sedans, \n]
1    [\n, Sedans, \n]
2    [\n, Sedans, \n]
3    [\n, Sedans, \n]
4    [\n, Sedans, \n]
Name: Body, dtype: object

In [84]:
cat_df = cat_df.drop(['Body'], axis=1)

**'Gearing Type'**

In [85]:
cat_df['Gearing Type'].head()

0    [\n, Automatic, \n]
1    [\n, Automatic, \n]
2    [\n, Automatic, \n]
3    [\n, Automatic, \n]
4    [\n, Automatic, \n]
Name: Gearing Type, dtype: object

In [86]:
cat_df['gearing_type'] = cat_df['Gearing Type'].str[1]

In [87]:
cat_df['gearing_type'].value_counts(dropna = False)

Manual            7525
Automatic         6828
Semi-automatic     467
Name: gearing_type, dtype: int64

In [88]:
cat_df = cat_df.drop(['Gearing Type'], axis=1)

**'Fuel'**

In [89]:
cat_df['Fuel'].head()

0    [\n, Diesel (Particulate Filter), \n]
1                       [\n, Gasoline, \n]
2    [\n, Diesel (Particulate Filter), \n]
3    [\n, Diesel (Particulate Filter), \n]
4    [\n, Diesel (Particulate Filter), \n]
Name: Fuel, dtype: object

In [90]:
cat_df['fuel'] = cat_df['Fuel'].str[1]

In [91]:
cat_df['fuel'].value_counts(dropna = False).head()

Diesel (Particulate Filter)      4025
Super 95                         3130
Gasoline                         2931
Diesel                           2787
Super 95 / Regular/Benzine 91     416
Name: fuel, dtype: int64

In [92]:
cat_df = cat_df.drop(['Fuel'], axis=1)

**'Emission Class'**

In [93]:
cat_df['Emission Class'].head()

0    [\nEuro 6\n]
1    [\nEuro 6\n]
2    [\nEuro 6\n]
3    [\nEuro 6\n]
4    [\nEuro 6\n]
Name: Emission Class, dtype: object

In [94]:
cat_df['emission_class'] = cat_df['Emission Class'].str[0].str.replace('\n','')

In [95]:
cat_df['emission_class'].value_counts(dropna = False)

Euro 6          9496
NaN             3335
Euro 6d-TEMP    1683
Euro 6c          126
Euro 5            78
Euro 6d           62
Euro 4            40
Name: emission_class, dtype: int64

In [96]:
cat_df = cat_df.drop(['Emission Class'], axis=1)

**'Type'**

In [97]:
cat_df['Type'].head()

0    [, Used, , Diesel (Particulate Filter)]
1                       [, Used, , Gasoline]
2    [, Used, , Diesel (Particulate Filter)]
3    [, Used, , Diesel (Particulate Filter)]
4    [, Used, , Diesel (Particulate Filter)]
Name: Type, dtype: object

In [98]:
cat_df['type'] = cat_df['Type'].str[1].value_counts(dropna = False)

In [99]:
cat_df = cat_df.drop(['Type'], axis=1)

**'Warranty'**

In [100]:
cat_df['Warranty'].head()

0             [\n, \n, \n4 (Green)\n]
1                                 NaN
2    [\n, \n, \n99 g CO2/km (comb)\n]
3                                 NaN
4                [\n, \n, \nEuro 6\n]
Name: Warranty, dtype: object

In [101]:
cat_df['warranty'] = cat_df['Warranty'].str[0].str.replace('\n','').str.split(' ').str[0]

In [102]:
cat_df.warranty[cat_df['warranty']==''] = cat_df.warranty[cat_df['warranty']==''].str[3]

<ipython-input-102-acdb3ec13f65>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df.warranty[cat_df['warranty']==''] = cat_df.warranty[cat_df['warranty']==''].str[3]

In [103]:
cat_df = cat_df.drop(['Warranty'], axis=1)

In [104]:
cat_df['warranty'].value_counts(dropna=False).head()

NaN    12126
12      1362
24       534
60       374
36       204
Name: warranty, dtype: int64

**'null'**

In [105]:
cat_df = cat_df.drop(['null'], axis=1)

#### Nominal (Extrapolating Multiple Values in one Feature)

* '\nComfort & Convenience\n',
* '\nEntertainment & Media\n', 
* '\nExtras\n', 
* '\nSafety & Security\n'

In [106]:
cat_df[['\nComfort & Convenience\n','\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n']].head(2)

,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n
0,"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light..."
1,"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit..."

Looking at the first few rows above, it looks like we need to remove the brackets, curly brackets, and quotes.

In [107]:
# instantiate the MultiLabelBinarizer
mlb = MultiLabelBinarizer()

In [108]:
# create boolean mask matched non NaNs values
mask = cat_df['\nComfort & Convenience\n'].notnull()

In [109]:
# filter by boolean indexing
arr = mlb.fit_transform(cat_df.loc[mask, '\nComfort & Convenience\n'].dropna())

In [110]:
#create DataFrame and add missing (NaN)s index values
Comf_Conv_df = (pd.DataFrame(arr, index=cat_df.index[mask], columns=mlb.classes_).reindex(cat_df.index, fill_value=0))

In [111]:
Comf_Conv_df.head().T

                                     0  1  2  3  4
Air conditioning                     1  1  1  0  1
Air suspension                       0  0  0  1  0
Armrest                              1  0  0  1  1
Automatic climate control            1  1  0  0  1
Auxiliary heating                    0  0  0  1  0
Cruise control                       1  0  1  0  0
Electric Starter                     0  0  0  0  0
Electric tailgate                    0  0  0  0  0
Electrical side mirrors              1  0  1  1  1
Electrically adjustable seats        0  0  0  0  0
Electrically heated windshield       0  0  0  0  0
Heads-up display                     0  0  0  1  0
Heated steering wheel                0  0  0  0  0
Hill Holder                          1  1  1  1  1
Keyless central door lock            0  0  0  0  0
Leather seats                        0  0  0  0  0
Leather steering wheel               1  1  1  1  1
Light sensor                         1  0  0  1  1
Lumbar support                       0  1  0  1  0
Massage seats                        0  0  0  0  0
Multi-function steering wheel        1  0  1  1  1
Navigation system                    1  0  1  1  0
Panorama roof                        0  0  0  0  0
Park Distance Control                1  0  1  0  1
Parking assist system camera         0  0  0  0  0
Parking assist system self-steering  0  0  0  0  0
Parking assist system sensors front  0  0  1  0  0
Parking assist system sensors rear   1  1  1  0  1
Power windows                        1  1  1  1  1
Rain sensor                          1  0  0  1  1
Seat heating                         1  0  1  1  0
Seat ventilation                     0  0  0  0  0
Split rear seats                     0  0  0  1  0
Start-stop system                    1  1  1  1  1
Sunroof                              0  0  0  0  0
Tinted windows                       0  1  0  0  0
Wind deflector                       0  0  0  0  0
Windshield                           0  0  0  0  0

**\nEntertainment & Media\n**

In [112]:
# create boolean mask matched non NaNs values
mask = cat_df['\nEntertainment & Media\n'].notnull()

# filter by boolean indexing
arr = mlb.fit_transform(cat_df.loc[mask, '\nEntertainment & Media\n'].dropna())

#create DataFrame and add missing (NaN)s index values
Ent_Med_df = (pd.DataFrame(arr, index=cat_df.index[mask], columns=mlb.classes_).reindex(cat_df.index, fill_value=0))

Ent_Med_df.head().T

                      0  1  2  3  4
Bluetooth             1  1  0  1  1
CD player             0  0  0  1  1
Digital radio         0  0  0  0  0
Hands-free equipment  1  1  0  1  1
MP3                   0  0  1  1  1
On-board computer     1  1  1  1  1
Radio                 1  1  0  1  1
Sound system          0  1  0  1  0
Television            0  0  0  0  0
USB                   0  0  0  1  1

**\nExtras\n**

In [113]:
# create boolean mask matched non NaNs values
mask = cat_df['\nExtras\n'].notnull()

# filter by boolean indexing
arr = mlb.fit_transform(cat_df.loc[mask, '\nExtras\n'].dropna())

#create DataFrame and add missing (NaN)s index values
Extras_df = (pd.DataFrame(arr, index=cat_df.index[mask], columns=mlb.classes_).reindex(cat_df.index, fill_value=0))

Extras_df.head().T

                     0  1  2  3  4
Alloy wheels         1  1  1  1  1
Cab or rented Car    0  0  0  0  0
Catalytic Converter  1  0  0  0  0
Handicapped enabled  0  0  0  0  0
Right hand drive     0  0  0  0  0
Roof rack            0  0  0  0  0
Shift paddles        0  0  0  0  0
Ski bag              0  0  0  0  0
Sliding door         0  0  0  0  0
Sport package        0  0  0  0  1
Sport seats          0  1  0  1  0
Sport suspension     0  1  0  0  1
Touch screen         0  0  0  0  0
Trailer hitch        0  0  0  0  0
Tuned car            0  0  0  0  0
Voice Control        1  1  1  1  1
Winter tyres         0  0  0  0  0

In [114]:
# create boolean mask matched non NaNs values
mask = cat_df['\nSafety & Security\n'].notnull()

# filter by boolean indexing
arr = mlb.fit_transform(cat_df.loc[mask, '\nSafety & Security\n'].dropna())

#create DataFrame and add missing (NaN)s index values
Saf_Sec_df = (pd.DataFrame(arr, index=cat_df.index[mask], columns=mlb.classes_).reindex(cat_df.index, fill_value=0))

Saf_Sec_df.head().T

                                       0  1  2  3  4
ABS                                    1  1  1  1  1
Adaptive Cruise Control                0  0  0  0  0
Adaptive headlights                    0  0  0  0  0
Alarm system                           0  0  0  1  0
Blind spot monitor                     0  0  0  0  0
Central door lock                      1  1  1  0  1
Central door lock with remote control  0  1  0  1  0
Daytime running lights                 1  1  1  0  0
Driver drowsiness detection            0  0  0  1  0
Driver-side airbag                     1  1  1  1  1
Electronic stability control           1  1  1  1  1
Emergency brake assistant              0  0  0  0  0
Emergency system                       0  0  0  1  0
Fog lights                             1  0  0  0  1
Head airbag                            0  1  0  1  0
Immobilizer                            1  1  1  1  1
Isofix                                 1  1  1  1  1
LED Daytime Running Lights             0  0  0  0  0
LED Headlights                         0  0  0  0  0
Lane departure warning system          0  0  0  0  0
Night view assist                      0  0  0  0  0
Passenger-side airbag                  1  1  1  1  1
Power steering                         1  1  1  1  1
Rear airbag                            0  0  0  0  0
Side airbag                            1  1  1  1  1
Tire pressure monitoring system        1  1  1  1  1
Traction control                       1  1  1  0  1
Traffic sign recognition               0  0  0  0  0
Xenon headlights                       1  1  0  0  1

Now we need to drop the original columns and concatenate the new DataFrames together to the original cat_df DataFrame.

In [115]:
## drop the old host_verifications and amenities features from cat_df
cat_df = cat_df.drop(['\nComfort & Convenience\n','\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n'], axis=1)

## concatenate amenities_df and host_verif_df to the original cat_df DataFrame
cat_df = pd.concat([cat_df, Saf_Sec_df, Extras_df, Ent_Med_df, Comf_Conv_df], axis=1)

In [116]:
cat_df.head(3).T

                                0                 1               2
body_type                  Sedans            Sedans          Sedans
vat                VAT deductible  Price negotiable  VAT deductible
registration              01/2016           03/2017         02/2016
make                         Audi              Audi            Audi
model                          A1                A1              A1
...                           ...               ...             ...
Start-stop system               1                 1               1
Sunroof                         0                 0               0
Tinted windows                  0                 1               0
Wind deflector                  0                 0               0
Windshield                      0                 0               0

[108 rows x 3 columns]

**Date/Time Feature Engineering**

In [117]:
## Here are our date features
dt_cols = ['registration', 'first_registration']
cat_df[dt_cols].head(1)

  registration first_registration
0      01/2016               2016

In [118]:
cat_df['registration'] = pd.to_datetime(cat_df['registration'], infer_datetime_format=True).dt.date

In [119]:
cat_df['first_registration'] = pd.to_datetime(cat_df['first_registration'], infer_datetime_format=True).dt.year

In [120]:
## combine your num_df and cat_df into one new DataFrame named cleaned_df
cleaned_df = pd.concat([num_df, cat_df], axis=1)

In [121]:
# This will allow you to see all column names & rows when you are doing .head().
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

cleaned_df.head(2).T

,0,1
price,15770,14500
km,56013.0,80000.0
hp,66.0,141.0
number_of_doors,5.0,3.0
nunber_of_seats,5.0,4.0
displacement,1422.0,1798.0
cylinders,3.0,4.0
consumption_comb,3.8,5.6
consumption_city,4.3,7.1
consumption_country,3.5,4.7
co2_emission,99.0,129.0
gears,NaN,7.0
body_type,Sedans,Sedans
vat,VAT deductible,Price negotiable
registration,2016-01-01,2017-03-01
make,Audi,Audi
model,A1,A1
first_registration,2016.0,2017.0
body_color,Black,Red
paint_type,Metallic,NaN
upholstery,"Cloth, Black","Cloth, Grey"
gearing_type,Automatic,Automatic
fuel,Diesel (Particulate Filter),Gasoline
emission_class,Euro 6,Euro 6
type,NaN,NaN
warranty,NaN,NaN
ABS,1,1
Adaptive Cruise Control,0,0
Adaptive headlights,0,0
Alarm system,0,0
Blind spot monitor,0,0
Central door lock,1,1
Central door lock with remote control,0,1
Daytime running lights,1,1
Driver drowsiness detection,0,0
Driver-side airbag,1,1
Electronic stability control,1,1
Emergency brake assistant,0,0
Emergency system,0,0
Fog lights,1,0
Head airbag,0,1
Immobilizer,1,1
Isofix,1,1
LED Daytime Running Lights,0,0
LED Headlights,0,0
Lane departure warning system,0,0
Night view assist,0,0
Passenger-side airbag,1,1
Power steering,1,1
Rear airbag,0,0
Side airbag,1,1
Tire pressure monitoring system,1,1
Traction control,1,1
Traffic sign recognition,0,0
Xenon headlights,1,1
Alloy wheels,1,1
Cab or rented Car,0,0
Catalytic Converter,1,0
Handicapped enabled,0,0
Right hand drive,0,0
Roof rack,0,0
Shift paddles,0,0
Ski bag,0,0
Sliding door,0,0
Sport package,0,0
Sport seats,0,1
Sport suspension,0,1
Touch screen,0,0
Trailer hitch,0,0
Tuned car,0,0
Voice Control,1,1
Winter tyres,0,0
Bluetooth,1,1
CD player,0,0
Digital radio,0,0
Hands-free equipment,1,1
MP3,0,0
On-board computer,1,1
Radio,1,1
Sound system,0,1
Television,0,0
USB,0,0
Air conditioning,1,1
Air suspension,0,0
Armrest,1,0
Automatic climate control,1,1
Auxiliary heating,0,0
Cruise control,1,0
Electric Starter,0,0
Electric tailgate,0,0
Electrical side mirrors,1,0
Electrically adjustable seats,0,0
Electrically heated windshield,0,0
Heads-up display,0,0
Heated steering wheel,0,0
Hill Holder,1,1
Keyless central door lock,0,0
Leather seats,0,0
Leather steering wheel,1,1
Light sensor,1,0
Lumbar support,0,1
Massage seats,0,0
Multi-function steering wheel,1,0
Navigation system,1,0
Panorama roof,0,0
Park Distance Control,1,0
Parking assist system camera,0,0
Parking assist system self-steering,0,0
Parking assist system sensors front,0,0
Parking assist system sensors rear,1,1
Power windows,1,1
Rain sensor,1,0
Seat heating,1,0
Seat ventilation,0,0
Split rear seats,0,0
Start-stop system,1,1
Sunroof,0,0
Tinted windows,0,1
Wind deflector,0,0
Windshield,0,0

In [122]:
cleaned_df.to_csv("cleaned_df.csv", index=False)